<form action="/" method="POST">
    <label> Логин
        <input name="login" type="text">
    </label> <br>
    <label> Пароль
        <input name="password" type="text">
    </label> <br>
    <label> Сообщение
        <input name="message" type="text">
    </label> <br>
    <input type="submit" name="button" value="Войти и отправить">
    <input type="submit" name="resetButton" value="Очистить историю">
</form>