<html lang="eng">
<head>
    <title></title>
    <style>
        #Message_Block {
            border: 1px solid gray;
            width: 400px;
            height: 600px;
            margin: 0 auto;
            text-align: right;
            overflow-y: scroll;
            overflow-x:hidden;
        }
    </style>
</head>
<body>
    <div id="Message_Block">
        {{user.printMessages(main_fileJSON)}}
    </div><br>
</body>
</html>